<td style="width: 300px;"><div>{{notes}}</div></td>
<td style="width: 180px;"><div>{{birthdate}}</div></td>
<td style="width: 140px;"><div>{{gender}}</div></td>
<td style="width: 180px;"><div>{{deathdate}}</div></td>
