<div>
  <div class="inline">
    <table class="table table-striped table-hover lizzieTable">
      <thead>
        <tr>
        <th style="width: 234px;">first</th>
        <th style="width: 234px;">last</th>
        <tr>
      </thead>
    </table>
  </div>
  <div class="inline">
    <table class="table table-striped table-hover lizzieTable">
      <thead>
        <tr>
          <th style="width: 200px;">notes</th>
          <th style="width: 80px;">birthdate</th>
          <th style="width: 40px;">gender</th>
          <th style="width:80px;">deathdate</th>
        </thead>
      </table>
    </table>
  </div>
</div>

<div>

<div class="inline fixed-col">
  <table class="table table-striped table-hover lizzieTable">
    {{collection item-view="PatientDashboardPatientSide" tag="tbody"}}
  </table>
</div>
<div class="inline content2">
  <table class="table table-striped table-hover lizzieTable">
    {{collection item-view="PatientDashboardPatientBody" tag="tbody"}}
  </table>
</div>
</div>
<div>

<div class="inline fixed-col">
  <table class="table table-striped table-hover lizzieTable">
    {{collection item-view="PatientDashboardPatientSide" tag="tbody"}}
  </table>
</div>
<div class="inline content">
  <table class="table table-striped table-hover lizzieTable">
    {{collection item-view="PatientDashboardPatientBody" tag="tbody"}}
  </table>
</div>
</div>
