<table class='table'>
  <thead>
    <tr>
      <th>Statement</th>
      {{#each patients}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <td><b>{{statement}}</b></td>
        {{#each results}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
    {{/each}}
</table>
