<form>
  <div class="form-group">
    <label for="emailBody">CQL</label>
    <textarea class="form-control" rows="15" name="cql" id="cql"></textarea>
  </div>
  <input type="submit" value="Evaluate" class="btn btn-default">
</form>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      {{#each headers}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
{{#collection resultCollection tag="tbody" item-context=patientContext}}
  <tr>
    <td>{{first}} {{last}}</td>
    {{#each values}}
      <td>{{this}}</td>
    {{/each}}
  </tr>
{{/collection}}
</table>
